<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon class="iconfont icon-home"></ion-icon>
      <ion-label>主页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category">
      <ion-icon class="iconfont icon-fenlei"></ion-icon>
      <ion-label>分类</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon class="iconfont icon-gouwuche"></ion-icon>
      <ion-label>购物车</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user">
      <ion-icon class="iconfont icon-wode-wode"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
