<div class="cart-header">
  <ion-buttons>
    <ion-button (click)="onback()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <span class="cart-header-title">购物车</span>
  </ion-buttons>
</div>
<ion-content color="mainbg">

  <ion-list>
    123
  </ion-list>

  <ion-list>
    123
  </ion-list>

  <ion-list>
    123
  </ion-list>

  <ion-list>
    123
  </ion-list>

  <ion-list>
    123
  </ion-list>

  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>
  <ion-list>
    123
  </ion-list>

  <div class="foot-blank">

  </div>

  <div class="cart-foot" slot="fixed">
    <div class="cart-foot-box">
      <ion-chip #chip>
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>Icon</ion-label>
      </ion-chip>
      <div class="cart-price">
        <span>合计:</span>
        <em>¥</em>
        <span>1111</span>
      </div>
      <div class="cart-foot-right">
        <ion-button (click)="onClick()">
          去结算
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
