  <ion-content class="content">
    <ion-buttons>
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="form user">
      <ion-input class="input" type="text" placeholder="用户名"></ion-input>
      <ion-input class="input" type="password" placeholder="密码"></ion-input>
      <div class="forget"><a>忘记密码</a></div>
      <ion-button class="button" (click)="onClick()" expand="block" shape="round">
        登录
      </ion-button>
      <div class="toggle">
        <div class="tophone" (click)="onClickPhone()">短信登录</div>
        <span>|</span>
        <div class="register" (click)="onClickRegister()">注册账号</div>
      </div>
    </div>


    <div class="form phone">
      <ion-input class="input" type="text" placeholder="用户名"></ion-input>
      <ion-input class="input code" type="number" placeholder="验证码">
        <ion-button class="codeBtn" ngDefaultControl [(ngModel)]="disabled" (click)="onClickCode()" expand="block"
          fill="clear" shape="round" disabled="{{ disabled }}">
          获取验证码
        </ion-button>
      </ion-input>
      <ion-button class="button" (click)="onClick()" expand="block" shape="round">
        登录
      </ion-button>
      <div class="toggle">
        <div class="tophone" (click)="onClickPwd()">密码登录</div>
        <span>|</span>
        <div class="register" (click)="onClickRegister()">注册账号</div>
      </div>
    </div>

    <div class="other">
      <div class="icon-center">
        <span class="iconfont icon-QQ"></span>
        <span class="iconfont icon-weixin"></span>
        <span class="iconfont icon-douyin"></span>
      </div>
    </div>
  </ion-content>
