@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1635698401948') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\f0106";
}

.icon-wode-wode:before {
  content: "\e60d";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-gouwuche:before {
  content: "\e606";
}

.icon-fenlei:before {
  content: "\e658";
}

.icon-home:before {
  content: "\e964";
}

.icon-douyin:before {
  content: "\e8db";
}

