.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  .shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);

  }

  .main {
    overflow: auto;
    position: fixed;
    max-height: 60vh;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: chartreuse;
  }

}