<ion-content color="mainbg">
  <div class="search-header-form">
    <div class="search-cancel-btn" (click)="onClickBack()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </div>
    <div class="search">
      <ion-searchbar [(ngModel)]="searchContent" (ionChange)="onSearchChange()" placeholder="搜索"></ion-searchbar>
    </div>
    <div class="search-btn" [routerLink]="['/tabs/cart']" (click)="onClickSearchBtn()">
      <span>搜索</span>
    </div>
  </div>

  <div class="word-search">
    <div class="hot-search">
      <div class="word-search-title">
        热门搜索
      </div>
      <div class="word-item">
        <span>测试</span>
        <span>测试</span>
        <span>测试</span>
        <span>测试</span>
        <span>测试</span>
        <span>测试</span>
        <span>测试</span>
        <span>测试</span>
        <br class="clear" />
      </div>
    </div>
    <div class="history-search">
      <div class="history-search">
        <div class="word-search-title">
          搜索历史
        </div>
        <div class="word-item">
          <span>测试</span>
          <span>测试</span>
          <span>测试</span>
          <span>测试</span>
          <span>测试</span>
          <span>测试</span>
          <span>测试</span>
          <span>测试</span>
          <br class="clear" />
        </div>
      </div>
    </div>

  </div>

  <div class="search-list">
    <ul>
      <li *ngFor="let item of keyList" (click)="onClickSearchItem(item.key)" >{{ item.key }}</li>
    </ul>
  </div>

</ion-content>
